#
# Copyright (c) 2023 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Transport"

config CAMERA_TO_WEBSITE_TRANSPORT_HOSTNAME
	string "HTTPS API hostname"
	default "example.fly.dev"

config CAMERA_TO_WEBSITE_TRANSPORT_DEVICE_TOKEN
	string "HTTPS device token"
	help
	  Bearer token used to authenticate photo uploads.

config CAMERA_TO_WEBSITE_TRANSPORT_SEC_TAG
	int "TLS security tag"
	default 955
	help
	  Security tag containing the CA certificate for the HTTPS API hostname.

config CAMERA_TO_WEBSITE_TRANSPORT_THREAD_STACK_SIZE
	int "Thread stack size"
	default 2048

config CAMERA_TO_WEBSITE_TRANSPORT_MESSAGE_QUEUE_SIZE
	int "Message queue size"
	default 5
	help
	  ZBus subscriber message queue size.

config CAMERA_TO_WEBSITE_TRANSPORT_WORKQUEUE_STACK_SIZE
	int "Workqueue stack size"
	default 4096
	help
	  Stack size of the module's internal workqueue.

module = CAMERA_TO_WEBSITE_TRANSPORT
module-str = Transport
source "subsys/logging/Kconfig.template.log_config"

endmenu # Transport
