#
# Copyright (c) 2023 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "MQTT sample"

config MQTT_SAMPLE_PAYLOAD_CHANNEL_STRING_MAX_SIZE
	int "Payload maximum string size"
	default 100
	help
	  Maximum size of the string included messages that are sent over the payload channel.

config MQTT_SAMPLE_PAYLOAD_CHANNEL_TOPIC_MAX_SIZE
	int "Payload maximum topic size"
	default 64
	help
	  Maximum size of the MQTT topic carried alongside each payload.

rsource "src/modules/network/Kconfig.network"
rsource "src/modules/transport/Kconfig.transport"
rsource "src/modules/error/Kconfig.error"
rsource "src/modules/led/Kconfig.led"
rsource "src/modules/uart_bridge/Kconfig.uart_bridge"

endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu
